firestore = {
    'my-topic-sub': {
        'collection': 'my-objects',
    },
    'my-topic-sub2': {
        'collection': 'my-objects2'
    }
}


subscription1 = 'my-topic-sub'
subscription2 = 'my-topic-sub2'