AFAS_DB_PROCESSOR = {
    "employee": {
        "entity_name": "Employees",
        "id_property": "email_address"
    },
    "department": {
        "entity_name": "Departments",
        "id_property": "department_nr",
        "value_formatter": {
            "type": "split",
            "value": ".",
            "index": -1
        }
    },
    "bank": {
        "entity_name": "Employees",
        "filter_property": "employee_nr",
        "value_formatter": {
            "type": "prepend",
            "value": "83613."
        }
    }
}

DOMAIN_VALIDATION_TOKEN = '<my domain validation token>'
