AFAS_DB_PROCESSOR = {
    "employee": {
        "entity_name": "Employees",
        "id_property": "email_address"
    },
    "department": {
        "entity_name": "Departments",
        "id_property": "department_nr",
        "property_rules": [
            {
                "rules": [
                    {
                        "name": "old.test_field_1",
                        "operator": "non_empty"
                    },
                    {
                        "name": "new.test_field_2",
                        "operator": "greater_than",
                        "value": "field:old.test_field_2"
                    }
                ]
            }
        ],
        "value_formatter": {
            "type": "split",
            "value": ".",
            "index": -1
        }
    },
    "bank": {
        "entity_name": "Employees",
        "filter_property": "employee_nr",
        "create_entity": True,
        "value_formatter": {
            "type": "prepend",
            "value": "test."
        }
    }
}

DOMAIN_VALIDATION_TOKEN = '<my domain validation token>'
